body {
    margin: 0;
    padding: 0;
    background-color: #222;
}

h1 {
    font-family: sans-serif;
    text-align: center;
    color: #fff;
}

li {
    list-style-type: none;
    font-family: sans-serif;
    margin: 30px 0;
}

.skills {
    width: 600px;
    margin: 60px auto;
    color: #fff;
    padding: 20px;
    border-radius: 10px;
    background-color: #333;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.bar {
    background-color: #444;
    display: block;
    height: 6px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(33, 135, 231, 0.5);
}

.bar span {
    height: 6px;
    float: left;
}

.html {
    width: 80%;
    animation: html 2s;
    background-color: #FF5733;
}

.css {
    width: 93%;
    animation: css 2s;
    background-color: #33B5FF;
}

.javascript {
    width: 50%;
    animation: javascript 2s;
    background-color: #FFBD33;
}

.jquery {
    width: 30%;
    animation: jquery 2s;
    background-color: #9E33FF;
}

@keyframes html {
    0% { width: 0%; }
    100% { width: 80%; }
}

@keyframes css {
    0% { width: 0%; }
    100% { width: 93%; }
}

@keyframes javascript {
    0% { width: 0%; }
    100% { width: 50%; }
}

@keyframes jquery {
    0% { width: 0%; }
    100% { width: 30%; }
}