body {
  background-color: #f1f1f1;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  font-family: sans-serif;
}

.container {
  text-align: center;
}

.button-creative {
  position: relative;
  display: inline-block;
  padding: 1em 2em;
  background: #111;
  color: white;
  border: none;
  cursor: pointer;
  overflow: hidden;
  transition: color .3s;
  font-size: 1.3rem;
  border-radius: 9px;
  z-index: 1;
}

.button-creative::before {
  content: '';
  position: absolute;
  left: var(--x, 50%);
  top: var(--y, 50%);
  width: 220px;
  height: 220px;
  background: radial-gradient(circle, #ff4ecd 10%, transparent 70%);
  transform: translate(-50%, -50%) scale(0);
  transition: transform 0.4s ease;
  border-radius: 46%;
  opacity: 0.5;
  pointer-events: none;
  z-index: 0;
}

.button-creative:hover::before {
  transform: translate(-50%, -50%) scale(1.2);
}

.button-creative:hover {
  color: #ff4ecd;
}
